:root:has(option#visual_accessibility:checked) .board td.cell_color_1 {
  background-image: url("../images/accesibility/star.svg");
}
:root:has(option#visual_accessibility:checked) .board td.cell_color_2 {
  background-image: url("../images/accesibility/square.svg");
}
:root:has(option#visual_accessibility:checked) .board td.cell_color_3 {
  background-image: url("../images/accesibility/triangle.svg");
}
:root:has(option#visual_accessibility:checked) .board td.cell_color_4 {
  background-image: url("../images/accesibility/hexagon.svg");
}
:root:has(option#visual_accessibility:checked) .board td.cell_color_5 {
  background-image: url("../images/accesibility/circle.svg");
}
:root:has(option#visual_accessibility:checked) .board td.cell_color_6 {
  background-image: url("../images/accesibility/diamond.svg");
}
:root:has(option#visual_accessibility:checked) .board td.cell_color_7 {
  background-image: url("../images/accesibility/heart.svg");
}
:root:has(option#visual_accessibility:checked) .board td.cell_color_8 {
  background-image: url("../images/accesibility/pentagon.svg");
}
:root:has(option#visual_accessibility:checked) .board td.cell_color_9 {
  background-image: url("../images/accesibility/16star.svg");
}
:root:has(option#visual_accessibility:checked) .board td.cell_color_10 {
  background-image: url("../images/accesibility/arrow.svg");
}

/* Estilos comunes para todas las celdas accesibles */
:root:has(option#visual_accessibility:checked) .board td[class*="cell_color_"] {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
