:root {
  --cell_color_default: var(--color_border);
}

.board_wrapper {
  align-self: center ;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

table {
  aspect-ratio: 1 / 1;
  width: min(70vw, 70vh);
  max-width: 500px;
  margin-bottom: 20px;
  background-color: var(--board_outer_colors);
  border-radius: 6px;
}

.board table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

.board td {
  aspect-ratio: 1 / 1;
  background-color: var(--cell_color_default);
  padding: 0;
  text-align: center;
  vertical-align: middle;
  position: relative;
  width: min(7vw, 7vh);
  height: min(7vw, 7vh);
  border: 0px solid #00000000;
  overflow: hidden;
}

.board td:hover {
  filter: brightness(1.2);
}

:root:has(option[id="thin_grid"]:checked) table{
  border-collapse: separate;
  border: 0px solid var(--board_outer_colors);
  border-spacing: 2px;
}

:root:has(option[id="regular_grid"]:checked) table{
  border-collapse: separate;
  border: 0px solid var(--board_outer_colors);
  border-spacing: 3.5px;
}

:root:has(option[id="thick_grid"]:checked) table{
  border-collapse: separate;
  border: 0px solid var(--board_outer_colors);
  border-spacing: 5px;
}

:root:has(option[id="hide_grid"]:checked) table{
  border-collapse: collapse;
  background-color: #00000000;
  border: none;
}


/* Esquina superior izquierda */
.board tr:first-child td:first-child {
  border-top-left-radius: 5px;
}

/* Esquina superior derecha */
.board tr:first-child td:last-child {
  border-top-right-radius: 5px;
}

/* Esquina inferior izquierda */
.board tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

/* Esquina inferior derecha */
.board tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}


.board td.cell_color_1 { background-color: var(--cell_color_1);}
.board td.cell_color_2 { background-color: var(--cell_color_2);}
.board td.cell_color_3 { background-color: var(--cell_color_3);}
.board td.cell_color_4 { background-color: var(--cell_color_4);}
.board td.cell_color_5 { background-color: var(--cell_color_5);}
.board td.cell_color_6 { background-color: var(--cell_color_6);}
.board td.cell_color_7 { background-color: var(--cell_color_7);}
.board td.cell_color_8 { background-color: var(--cell_color_8);}
.board td.cell_color_9 { background-color: var(--cell_color_9);}
.board td.cell_color_10 { background-color: var(--cell_color_10);}


.board_icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: invert(var(--invert_logo));
}

/* Specific icon images */
.icon_queen {
  background-image: url("../images/queen_icon.svg");
}

.icon_cross {
  background-image: url("../images/cross.svg");
}

.icon_queen.invalid_queen {
  background-image: url("../images/queen_icon_contrast.svg");
  transition: all 0.2s ease-in-out;
  filter: invert(25%) sepia(20%) saturate(3000%) hue-rotate(-15deg) brightness(0.9) contrast(1.2) drop-shadow(0 0 0.5rem #ff0000);
  -webkit-filter: invert(25%) sepia(20%) saturate(3000%) hue-rotate(-15deg) brightness(0.9) contrast(1.2) drop-shadow(0 0 0.5rem #ff0000);

}

:root:has(option[id="theme_newspaper"]:checked) .icon_queen.invalid_queen{
  filter: invert(25%) sepia(20%) saturate(3000%) hue-rotate(-15deg) brightness(0.9) contrast(1.2) drop-shadow(0 0 0.5rem #ff0000) grayscale(1);
  -webkit-filter: invert(25%) sepia(20%) saturate(3000%) hue-rotate(-15deg) brightness(0.9) contrast(1.2) drop-shadow(0 0 0.5rem #ff0000) grayscale(1);
  transition: none;
}

#board, #board td, #board img, .board td[class*="cell_color_"], #board table, #board tbody, table{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}


@keyframes row_glow {
  0%, 100% { filter: brightness(1) hue-rotate(0deg) }
  50%     { filter: brightness(1.25) hue-rotate(180deg) }
}

.victory_row {
  filter: contrast(0.8);
  animation: row_glow 4s infinite;
}
