:root {
  --cell_color_default: var(--color_border);
}

.board_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  aspect-ratio: 1 / 1;
  width: min(70vw, 70vh);
  max-width: 500px;
  margin-bottom: 40px;
  background-color: var(--board_outer_colors);
  border-radius: 6px;
}

:root:has(option[id="show_grid"]:checked) table{
  border-collapse: separate;
  border: 1px solid var(--board_outer_colors);
  border-spacing: 2px;
}

:root:has(option[id="thick_grid"]:checked) table{
  border-collapse: separate;
  border: 2px solid var(--board_outer_colors);
  border-spacing: 4px;
}

:root:has(option[id="hide_grid"]:checked) table{
  border-collapse: collapse;
  background-color: #00000000;
  border: none;
}

.board table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

.board td {
  aspect-ratio: 1 / 1;
  background-color: var(--cell_color_default);
  padding: 0;
  text-align: center;
  vertical-align: middle;
  position: relative;
  width: min(7vw, 7vh);
  height: min(7vw, 7vh);
  border: 0px solid #00000000;
  overflow: hidden;
}

/* Esquina superior izquierda */
.board tr:first-child td:first-child {
  border-top-left-radius: 5px;
}

/* Esquina superior derecha */
.board tr:first-child td:last-child {
  border-top-right-radius: 5px;
}

/* Esquina inferior izquierda */
.board tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

/* Esquina inferior derecha */
.board tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}


.board td:hover {
  filter: brightness(1.2);
}

.board td.cell_color_1 { background-color: var(--cell_color_1);}
.board td.cell_color_2 { background-color: var(--cell_color_2);}
.board td.cell_color_3 { background-color: var(--cell_color_3);}
.board td.cell_color_4 { background-color: var(--cell_color_4);}
.board td.cell_color_5 { background-color: var(--cell_color_5);}
.board td.cell_color_6 { background-color: var(--cell_color_6);}
.board td.cell_color_7 { background-color: var(--cell_color_7);}
.board td.cell_color_8 { background-color: var(--cell_color_8);}
.board td.cell_color_9 { background-color: var(--cell_color_9);}
.board td.cell_color_10 { background-color: var(--cell_color_10);}

.board_icons {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
  padding: 0;
  filter: invert(var(--invert_logo));
}

#board, #board td, #board img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none
}