:root {
  /* Default colors */
  --cell_color_1: #f94144;
  --cell_color_2: #f3722c;
  --cell_color_3: #f8961e;
  --cell_color_4: #f9c74f;
  --cell_color_5: #90be6d;
  --cell_color_6: #43aa8b;
  --cell_color_7: #577590;
  --cell_color_8: #415795;
  --cell_color_9: #7d44ab;
  --cell_color_10: #952d6d;

  --board_outer_colors: #00000000;
}

/* Light */
@media (prefers-color-scheme: light) {
  :root {
    --cell_color_1: #f64f52;
    --cell_color_2: #f3722c;
    --cell_color_3: #f8961e;
    --cell_color_4: #f9c74f;
    --cell_color_5: #90be6d;
    --cell_color_6: #43aa8b;
    --cell_color_7: #577590;
    --cell_color_8: #415795;
    --cell_color_9: #7d44ab;
    --cell_color_10: #952d6d;

    --board_outer_colors: #000000;
  }
}

/* Dark */
@media (prefers-color-scheme: dark) {
  :root {
    --cell_color_1: #264653;
    --cell_color_2: #287271;
    --cell_color_3: #2a9d8f;
    --cell_color_4: #8ab17d;
    --cell_color_5: #e9c46a;
    --cell_color_6: #f4a261;
    --cell_color_7: #e76f51;
    --cell_color_8: #b24d77;
    --cell_color_9: #954aae;
    --cell_color_10: #6e42ac;

    --board_outer_colors: #ffffff;
  }
}

/* Manual themes */
:root:has(option[id="theme_light"]:checked) {
  --cell_color_1: #f64f52;
  --cell_color_2: #f3722c;
  --cell_color_3: #f8961e;
  --cell_color_4: #f9c74f;
  --cell_color_5: #90be6d;
  --cell_color_6: #43aa8b;
  --cell_color_7: #577590;
  --cell_color_8: #415795;
  --cell_color_9: #7d44ab;
  --cell_color_10: #952d6d;

  --board_outer_colors: #000000;
}

:root:has(option[id="theme_dark"]:checked) {
  --cell_color_1: #264653;
  --cell_color_2: #287271;
  --cell_color_3: #2a9d8f;
  --cell_color_4: #8ab17d;
  --cell_color_5: #e9c46a;
  --cell_color_6: #f4a261;
  --cell_color_7: #e76f51;
  --cell_color_8: #b24d77;
  --cell_color_9: #954aae;
  --cell_color_10: #6e42ac;

  --board_outer_colors: #ffffff;
}

:root:has(option[id="theme_newspaper"]:checked) {
  --cell_color_1: #c5c5c5;
  --cell_color_2: #b8b8b8;
  --cell_color_3: #9c9c9c;
  --cell_color_4: #909090;
  --cell_color_5: #787878;
  --cell_color_6: #6e6e6e;
  --cell_color_7: #5e5e5e;
  --cell_color_8: #545454;
  --cell_color_9: #474747;
  --cell_color_10: #3c3c3c;

  --board_outer_colors: #565656;
}



:root:has(option[id="theme_midnight"]:checked) {
  --cell_color_1: #A41B52;
  --cell_color_2: #B24747;
  --cell_color_3: #A26244;
  --cell_color_4: #A77F4D;
  --cell_color_5: #688B65;
  --cell_color_6: #3A7578;
  --cell_color_7: #245789;
  --cell_color_8: #426675;
  --cell_color_9: #485973;
  --cell_color_10: #656294;

  --board_outer_colors: #ffffff;
}


:root:has(option[id="theme_space"]:checked) {
  --cell_color_1: #eaa038;
  --cell_color_2: #f77c2a;
  --cell_color_3: #f65f5c;
  --cell_color_4: #de5a79;
  --cell_color_5: #bc5090;
  --cell_color_6: #8a508f;
  --cell_color_7: #725696;
  --cell_color_8: #56478c;
  --cell_color_9: #3c3c82;
  --cell_color_10: #2b3c63;

  --board_outer_colors: #ffffff;
}


:root:has(option[id="theme_ocean"]:checked) {
  --cell_color_1: #32b2c3;
  --cell_color_2: #2288ba;
  --cell_color_3: #186599;
  --cell_color_4: #18489a;
  --cell_color_5: #153d8e;
  --cell_color_6: #142b7d;
  --cell_color_7: #13217b;
  --cell_color_8: #0c126c;
  --cell_color_9: #090749;
  --cell_color_10: #0e063a;

  --board_outer_colors: #ffffff;
}

:root:has(option[id="theme_cave"]:checked){
  --cell_color_1: #b76935;
  --cell_color_2: #a56336;
  --cell_color_3: #935e38;
  --cell_color_4: #815839;
  --cell_color_5: #6f523b;
  --cell_color_6: #5c4d3c;
  --cell_color_7: #4a473e;
  --cell_color_8: #38413f;
  --cell_color_9: #293e40;
  --cell_color_10: #1b363f;

  --board_outer_colors: #ffffff;
}