:root {
  --board_outer_colors: #00000000;
  --accesibility_board_outer_colors: #ffffff00;
  --board_outer_color_light: #000000;
  --board_outer_color_dark: #ffffff;

  /* Default cell colors */
  --cell_color_1: #f94144;
  --cell_color_2: #f3722c;
  --cell_color_3: #f8961e;
  --cell_color_4: #f9c74f;
  --cell_color_5: #90be6d;
  --cell_color_6: #43aa8b;
  --cell_color_7: #577590;
  --cell_color_8: #277da1;
  --cell_color_9: #9d4edd;
  --cell_color_10: #961d68;
}

/* Light */
@media (prefers-color-scheme: light) {
  :root {
    --cell_color_1: #f94144;
    --cell_color_2: #f3722c;
    --cell_color_3: #f8961e;
    --cell_color_4: #f9c74f;
    --cell_color_5: #90be6d;
    --cell_color_6: #43aa8b;
    --cell_color_7: #577590;
    --cell_color_8: #277da1;
    --cell_color_9: #9d4edd;
    --cell_color_10: #961d68;

    --board_outer_colors: var(--board_outer_color_light);
    --accesibility_board_outer_colors: var(--board_outer_color_light);
  }
}

/* Dark */
@media (prefers-color-scheme: dark) {
    :root {
    --cell_color_1: #c02f32;
    --cell_color_2: #cd5e23;
    --cell_color_3: #d68119;
    --cell_color_4: #be9229;
    --cell_color_5: #699349;
    --cell_color_6: #349175;
    --cell_color_7: #456078;
    --cell_color_8: #2538a3;
    --cell_color_9: #652b95;
    --cell_color_10: #671949;

    --board_outer_colors: var(--board_outer_color_dark);
    --accesibility_board_outer_colors: var(--board_outer_color_light);
  }
}

/* Manual themes */
:root:has(option[id="theme_light"]:checked) {
  --cell_color_1: #f94144;
  --cell_color_2: #f3722c;
  --cell_color_3: #f8961e;
  --cell_color_4: #f9c74f;
  --cell_color_5: #90be6d;
  --cell_color_6: #43aa8b;
  --cell_color_7: #577590;
  --cell_color_8: #277da1;
  --cell_color_9: #9d4edd;
  --cell_color_10: #961d68;

  --board_outer_colors: var(--board_outer_color_light);
  --accesibility_board_outer_colors: var(--board_outer_color_light);
}

:root:has(option[id="theme_dark"]:checked) {
  --cell_color_1: #c02f32;
  --cell_color_2: #cd5e23;
  --cell_color_3: #d68119;
  --cell_color_4: #be9229;
  --cell_color_5: #699349;
  --cell_color_6: #349175;
  --cell_color_7: #456078;
  --cell_color_8: #2538a3;
  --cell_color_9: #652b95;
  --cell_color_10: #671949;

  --board_outer_colors: var(--board_outer_color_dark);
  --accesibility_board_outer_colors: var(--board_outer_color_light);
}

:root:has(option[id="theme_newspaper"]:checked) {
  --cell_color_1: #d0d0d0;
  --cell_color_2: #bdbdbd;
  --cell_color_3: #a3a3a3;
  --cell_color_4: #9c9c9c;
  --cell_color_5: #808080;
  --cell_color_6: #6e6e6e;
  --cell_color_7: #5e5e5e;
  --cell_color_8: #434343;
  --cell_color_9: #353535;
  --cell_color_10: #2c2c2c;

  --board_outer_colors: #000000;
  --accesibility_board_outer_colors: #00000000;
}



:root:has(option[id="theme_midnight"]:checked) {
  --cell_color_1: #9e0142;
  --cell_color_2: #d53e4f;
  --cell_color_3: #f46d43;
  --cell_color_4: #b79946;
  --cell_color_5: #38ad88;
  --cell_color_6: #3288bd;
  --cell_color_7: #5e4fa2;
  --cell_color_8: #efa356;
  --cell_color_9: #bcce64;
  --cell_color_10: #7cc373;

  --board_outer_colors: var(--board_outer_color_dark);
  --accesibility_board_outer_colors: var(--board_outer_color_light);
}


:root:has(option[id="theme_space"]:checked) {
  --cell_color_1: #264653;
  --cell_color_2: #287271;
  --cell_color_3: #2a9d8f;
  --cell_color_4: #8ab17d;
  --cell_color_5: #e9c46a;
  --cell_color_6: #f4a261;
  --cell_color_7: #e76f51;
  --cell_color_8: #b24d77;
  --cell_color_9: #954aae;
  --cell_color_10: #6e42ac;

  --board_outer_colors: var(--board_outer_color_dark);
  --accesibility_board_outer_colors: var(--board_outer_color_light);
}


:root:has(option[id="theme_ocean"]:checked) {
  --cell_color_1: #35c2d4;
  --cell_color_2: #28b4d0;
  --cell_color_3: #229abd;
  --cell_color_4: #1b7ca5;
  --cell_color_5: #155e8d;
  --cell_color_6: #14477d;
  --cell_color_7: #0f3f74;
  --cell_color_8: #112f76;
  --cell_color_9: #0a2062;
  --cell_color_10: #071656;

  --board_outer_colors: var(--board_outer_color_dark);
  --accesibility_board_outer_colors: var(--board_outer_color_light);
}