:root {
  --board_outer_colors: #00000000;
  --board_outer_color_light: #000000;
  --board_outer_color_dark: #ffffff;

  /* Default cell colors */
  --cell_color_1: #f94144;
  --cell_color_2: #f3722c;
  --cell_color_3: #f8961e;
  --cell_color_4: #f9c74f;
  --cell_color_5: #90be6d;
  --cell_color_6: #43aa8b;
  --cell_color_7: #577590;
  --cell_color_8: #277da1;
  --cell_color_9: #9d4edd;
  --cell_color_10: #5f0f40;
}

/* Light */
@media (prefers-color-scheme: light) {
  :root {
    --cell_color_1: #f94144;
    --cell_color_2: #f3722c;
    --cell_color_3: #f8961e;
    --cell_color_4: #f9c74f;
    --cell_color_5: #90be6d;
    --cell_color_6: #43aa8b;
    --cell_color_7: #577590;
    --cell_color_8: #277da1;
    --cell_color_9: #9d4edd;
    --cell_color_10: #5f0f40;

    --board_outer_colors: var(--board_outer_color_light);
  }
}

/* Dark */
@media (prefers-color-scheme: dark) {
  :root {
    --cell_color_1: #9e0142;
    --cell_color_2: #d53e4f;
    --cell_color_3: #f46d43;
    --cell_color_4: #b79946;
    --cell_color_5: #38ad88;
    --cell_color_6: #3288bd;
    --cell_color_7: #5e4fa2;
    --cell_color_8: #efa356;
    --cell_color_9: #bcce64;
    --cell_color_10: #7cc373;

    --board_outer_colors: var(--board_outer_color_dark);
  }
}

/* Manual themes */

:root:has(option[id="theme_light"]:checked) {
    --cell_color_1: #f94144;
    --cell_color_2: #f3722c;
    --cell_color_3: #f8961e;
    --cell_color_4: #f9c74f;
    --cell_color_5: #90be6d;
    --cell_color_6: #43aa8b;
    --cell_color_7: #577590;
    --cell_color_8: #277da1;
    --cell_color_9: #9d4edd;
    --cell_color_10: #5f0f40;

    --board_outer_colors: var(--board_outer_color_light);
}

:root:has(option[id="theme_dark"]:checked) {
    --cell_color_1: #9e0142;
    --cell_color_2: #d53e4f;
    --cell_color_3: #f46d43;
    --cell_color_4: #b79946;
    --cell_color_5: #38ad88;
    --cell_color_6: #3288bd;
    --cell_color_7: #5e4fa2;
    --cell_color_8: #efa356;
    --cell_color_9: #bcce64;
    --cell_color_10: #7cc373;

    --board_outer_colors: var(--board_outer_color_dark);
}

:root:has(option[id="theme_newspaper"]:checked) {
    --cell_color_1: #eeeeee;
    --cell_color_2: #d8d8d8;
    --cell_color_3: #c2c2c2;
    --cell_color_4: #acacac;
    --cell_color_5: #969696;
    --cell_color_6: #808080;
    --cell_color_7: #6a6a6a;
    --cell_color_8: #545454;
    --cell_color_9: #3e3e3e;
    --cell_color_10: #282828;

    --board_outer_colors: #000000;
}



:root:has(option[id="theme_midnight"]:checked) {
    --cell_color_1: #c03a3f;
    --cell_color_2: #b88e2e;
    --cell_color_3: #5d8720;
    --cell_color_4: #145ca1;
    --cell_color_5: #8536a7;
    --cell_color_6: #b01868;
    --cell_color_7: #cb58c7;
    --cell_color_8: #5629a8;
    --cell_color_9: #c04a04;
    --cell_color_10: #048f6e;

    --board_outer_colors: var(--board_outer_color_dark);
}

:root:has(option[id="theme_ocean"]:checked) {
    --cell_color_1: #c7005e;
    --cell_color_2: #00496e;
    --cell_color_3: #5aa4b4;
    --cell_color_4: #3298ab;
    --cell_color_5: #bb8400;
    --cell_color_6: #009c88;
    --cell_color_7: #057e69;
    --cell_color_8: #b9921a;
    --cell_color_9: #699aa4;
    --cell_color_10: #007199;

    --board_outer_colors: var(--board_outer_color_dark);
}

:root:has(option[id="theme_space"]:checked) {
    --cell_color_1: #b1365a;
    --cell_color_2: #b89b34;
    --cell_color_3: #059d7a;
    --cell_color_4: #0d6a8f;
    --cell_color_5: #8e42c8;
    --cell_color_6: #6aa2b8;
    --cell_color_7: #0a5457;
    --cell_color_8: #b24d7f;
    --cell_color_9: #5520a0;
    --cell_color_10: #1a6c8e;

    --board_outer_colors: var(--board_outer_color_dark);
}
