  /* LIGHT AND DARK THEMES WITH VARIABLES TO AVOID HAVING TO CHANGE COLORS TWICE FOR @MEDIA AND MANUAL*/
:root {

  /* LIGHT */
  --light_color1: #000000;
  --light_color2: #ececec;
  --light_color3: #cccccc;
  --light_color4: #a1a1a1;
  --light_color5: #000000;
  --light_border: #b9b9b9;
  --light_nav_text: #000000;
  --light_invert_logo: 0%;
  --light_invert_board_icons: 0%;
  --light_timer_victory_color: #106110;

  --light_cell_color_1: #f64f52;
  --light_cell_color_2: #f3722c;
  --light_cell_color_3: #f8961e;
  --light_cell_color_4: #f9c74f;
  --light_cell_color_5: #90be6d;
  --light_cell_color_6: #43aa8b;
  --light_cell_color_7: #577590;
  --light_cell_color_8: #415795;
  --light_cell_color_9: #7d44ab;
  --light_cell_color_10: #952d6d;
  --light_board_outer_colors: #000000;


  /* DARK */
  --dark_color1: #e0e0e0;
  --dark_color2: #121212;
  --dark_color3: #1f1f1f;
  --dark_color4: #2c2c2c;
  --dark_color5: #bbbbbb;
  --dark_border: #333333;
  --dark_nav_text: #e0e0e0;
  --dark_invert_logo: 100%;
  --dark_invert_board_icons: 100%;
  --dark_timer_victory_color: #61e82c;

  --dark_cell_color_1: #264653;
  --dark_cell_color_2: #287271;
  --dark_cell_color_3: #2a9d8f;
  --dark_cell_color_4: #8ab17d;
  --dark_cell_color_5: #e9c46a;
  --dark_cell_color_6: #f4a261;
  --dark_cell_color_7: #e76f51;
  --dark_cell_color_8: #b24d77;
  --dark_cell_color_9: #954aae;
  --dark_cell_color_10: #6e42ac;
  --dark_board_outer_colors: #ffffff;
}


/* BROWSER THEME DETECTION -------------------------------------------------*/
:root:has(option[id="theme_system"]:checked) {
  color-scheme: light dark;
}

/* Light */
@media (prefers-color-scheme: light) {
  :root {
    --color_text: var(--light_color1);
    --color_bg: var(--light_color2);
    --color_nav: var(--light_color3);
    --color_input: var(--light_color4);
    --color_input_text: var(--light_color5);
    --color_nav_text: var(--light_nav_text);
    --color_border: var(--light_border);
    --invert_logo: var(--light_invert_logo);
    --invert_board_icons: var(--light_invert_board_icons);
    --timer_victory_color: var(--light_timer_victory_color);

    --cell_color_1: var(--light_cell_color_1);
    --cell_color_2: var(--light_cell_color_2);
    --cell_color_3: var(--light_cell_color_3);
    --cell_color_4: var(--light_cell_color_4);
    --cell_color_5: var(--light_cell_color_5);
    --cell_color_6: var(--light_cell_color_6);
    --cell_color_7: var(--light_cell_color_7);
    --cell_color_8: var(--light_cell_color_8);
    --cell_color_9: var(--light_cell_color_9);
    --cell_color_10: var(--light_cell_color_10);
    --board_outer_colors: var(--light_board_outer_colors);
  }
}

/* Dark */
@media (prefers-color-scheme: dark) {
  :root {
    --color_text: var(--dark_color1);
    --color_bg: var(--dark_color2);
    --color_nav: var(--dark_color3);
    --color_input: var(--dark_color4);
    --color_input_text: var(--dark_color5);
    --color_nav_text: var(--dark_nav_text);
    --color_border: var(--dark_border);
    --invert_logo: var(--dark_invert_logo);
    --invert_board_icons: var(--dark_invert_board_icons);
    --timer_victory_color: var(--dark_timer_victory_color);

    --cell_color_1: var(--dark_cell_color_1);
    --cell_color_2: var(--dark_cell_color_2);
    --cell_color_3: var(--dark_cell_color_3);
    --cell_color_4: var(--dark_cell_color_4);
    --cell_color_5: var(--dark_cell_color_5);
    --cell_color_6: var(--dark_cell_color_6);
    --cell_color_7: var(--dark_cell_color_7);
    --cell_color_8: var(--dark_cell_color_8);
    --cell_color_9: var(--dark_cell_color_9);
    --cell_color_10: var(--dark_cell_color_10);
    --board_outer_colors: var(--dark_board_outer_colors);
  }
}

/* MANUAL THEMES, LIGHT AND DARK-------------------------------------------*/

:root:has(option[id="theme_light"]:checked){
  --color_text: var(--light_color1);
  --color_bg: var(--light_color2);
  --color_nav: var(--light_color3);
  --color_input: var(--light_color4);
  --color_input_text: var(--light_color5);
  --color_nav_text: var(--light_nav_text);
  --color_border: var(--light_border);
  --invert_logo: var(--light_invert_logo);
  --invert_board_icons: var(--light_invert_board_icons);
  --timer_victory_color: var(--light_timer_victory_color);

  --cell_color_1: var(--light_cell_color_1);
  --cell_color_2: var(--light_cell_color_2);
  --cell_color_3: var(--light_cell_color_3);
  --cell_color_4: var(--light_cell_color_4);
  --cell_color_5: var(--light_cell_color_5);
  --cell_color_6: var(--light_cell_color_6);
  --cell_color_7: var(--light_cell_color_7);
  --cell_color_8: var(--light_cell_color_8);
  --cell_color_9: var(--light_cell_color_9);
  --cell_color_10: var(--light_cell_color_10);
  --board_outer_colors: var(--light_board_outer_colors);
}

:root:has(option[id="theme_dark"]:checked){
  --color_text: var(--dark_color1);
  --color_bg: var(--dark_color2);
  --color_nav: var(--dark_color3);
  --color_input: var(--dark_color4);
  --color_input_text: var(--dark_color5);
  --color_nav_text: var(--dark_nav_text);
  --color_border: var(--dark_border);
  --invert_logo: var(--dark_invert_logo);
  --invert_board_icons: var(--dark_invert_board_icons);
  --timer_victory_color: var(--dark_timer_victory_color);

  --cell_color_1: var(--dark_cell_color_1);
  --cell_color_2: var(--dark_cell_color_2);
  --cell_color_3: var(--dark_cell_color_3);
  --cell_color_4: var(--dark_cell_color_4);
  --cell_color_5: var(--dark_cell_color_5);
  --cell_color_6: var(--dark_cell_color_6);
  --cell_color_7: var(--dark_cell_color_7);
  --cell_color_8: var(--dark_cell_color_8);
  --cell_color_9: var(--dark_cell_color_9);
  --cell_color_10: var(--dark_cell_color_10);
  --board_outer_colors: var(--dark_board_outer_colors);
}
 




/* OTHER MANUAL THEMES ------------------------------------------------------------------------------*/

:root:has(option[id="theme_newspaper"]:checked) {
  --color_text: #000000;
  --color_bg: #a9a9a9;
  --color_nav: #939393;
  --color_input: #7d7d7d;
  --color_input_text: #1a1a1a;
  --color_nav_text: #2a2a2a;
  --color_border: #585858;
  --invert_logo: 0%;
  --invert_board_icons: 0%;
  --timer_victory_color: #106110;

  --cell_color_1: #c5c5c5;
  --cell_color_2: #b8b8b8;
  --cell_color_3: #9c9c9c;
  --cell_color_4: #909090;
  --cell_color_5: #787878;
  --cell_color_6: #6e6e6e;
  --cell_color_7: #5e5e5e;
  --cell_color_8: #545454;
  --cell_color_9: #474747;
  --cell_color_10: #3c3c3c;

  --board_outer_colors: #565656;
}

:root:has(option[id="theme_midnight"]:checked){
  --color_text: #eef4ed;
  --color_bg: #11171c;
  --color_nav: #0c0e15;
  --color_input: #1d232b;
  --color_input_text: #6d7887;
  --color_nav_text: #eef4ed;
  --color_border: #22262e;
  --invert_logo: 100%;
  --invert_board_icons: 100%;
  --timer_victory_color: #61e82c;

  --cell_color_1: #A41B52;
  --cell_color_2: #B24747;
  --cell_color_3: #A26244;
  --cell_color_4: #A77F4D;
  --cell_color_5: #688B65;
  --cell_color_6: #3A7578;
  --cell_color_7: #245789;
  --cell_color_8: #426675;
  --cell_color_9: #485973;
  --cell_color_10: #656294;

  --board_outer_colors: #ffffff;
}

:root:has(option[id="theme_space"]:checked) {
  --color_text: #ffffff;
  --color_bg: #101010;
  --color_nav: #0d0d0d;
  --color_input: #222426;
  --color_input_text: #ffffff;
  --color_nav_text: #ffffff;
  --color_border: #202020;
  --invert_logo: 100%;
  --invert_board_icons: 100%;
  --timer_victory_color: #61e82c;

  --cell_color_1: #eaa038;
  --cell_color_2: #f77c2a;
  --cell_color_3: #f65f5c;
  --cell_color_4: #de5a79;
  --cell_color_5: #bc5090;
  --cell_color_6: #8a508f;
  --cell_color_7: #725696;
  --cell_color_8: #56478c;
  --cell_color_9: #3c3c82;
  --cell_color_10: #2b3c63;

  --board_outer_colors: #ffffff;
}

:root:has(option[id="theme_ocean"]:checked) {
  --color_text: #ffffff;
  --color_bg: #162a3f;
  --color_nav: #15223b;
  --color_input: #223958;
  --color_input_text: #96b5d2;
  --color_nav_text: #ffffff;
  --color_border: #324a63;
  --invert_logo: 100%;
  --invert_board_icons: 100%;
  --timer_victory_color: #61e82c;

  --cell_color_1: #32b2c3;
  --cell_color_2: #2288ba;
  --cell_color_3: #186599;
  --cell_color_4: #18489a;
  --cell_color_5: #153d8e;
  --cell_color_6: #142b7d;
  --cell_color_7: #13217b;
  --cell_color_8: #0c126c;
  --cell_color_9: #090749;
  --cell_color_10: #0e063a;

  --board_outer_colors: #ffffff;
}

:root:has(option[id="theme_cave"]:checked){
  --color_text: #ffffff;
  --color_bg: #322b26;
  --color_nav: #261f1c;
  --color_input: #181411;
  --color_input_text: #98867c;
  --color_nav_text: #ffffff;
  --color_border: #493937;
  --invert_logo: 100%;
  --invert_board_icons: 100%;
  --timer_victory_color: #61e82c;

  --cell_color_1: #b76935;
  --cell_color_2: #a56336;
  --cell_color_3: #935e38;
  --cell_color_4: #815839;
  --cell_color_5: #6f523b;
  --cell_color_6: #5c4d3c;
  --cell_color_7: #4a473e;
  --cell_color_8: #38413f;
  --cell_color_9: #293e40;
  --cell_color_10: #1b363f;

  --board_outer_colors: #ffffff;
}

:root:has(option[id="theme_linkedin"]:checked){
  --color_text: #e0e0e0;
  --color_bg: #2c2c2c;
  --color_nav: #242424;
  --color_input: #3f3f3f;
  --color_input_text: #bbbbbb;
  --color_nav_text: #e0e0e0;
  --color_border: #333333;
  --invert_logo: 100%;
  --invert_board_icons: 0%;
  --timer_victory_color: #61e82c;

  --cell_color_1: hsl(263, 52%, 70%);
  --cell_color_2: hsl(30, 100%, 73%);
  --cell_color_3: hsl(217, 100%, 73%);
  --cell_color_4: hsl(102, 50%, 68%);
  --cell_color_5: hsl(0, 0%, 84%);
  --cell_color_6: hsl(10, 100%, 69%);
  --cell_color_7: hsl(58, 62%, 68%);
  --cell_color_8: hsl(44, 15%, 65%);
  --cell_color_9: hsl(330, 50%, 75%);
  --cell_color_10: hsl(187, 40%, 74%);

  --board_outer_colors: #ffffff;
}

:root:has(option[id="theme_amethyst"]:checked) {
  --color_text: #ffffff;
  --color_bg: #161421;
  --color_nav: #0e0c15;
  --color_input: #1d1e2b;
  --color_input_text: #6d6d87;
  --color_nav_text: #eef4ed;
  --color_border: #23222e;
  --invert_logo: 100%;
  --invert_board_icons: 100%;
  --timer_victory_color: #61e82c;

  --cell_color_1: #2b2d42;
  --cell_color_2: #4e2c70;
  --cell_color_3: #702b9e;
  --cell_color_4: #b429f9;
  --cell_color_5: #9c43f8;
  --cell_color_6: #855df7;
  --cell_color_7: #6d77f6;
  --cell_color_8: #5591f5;
  --cell_color_9: #3eabf4;
  --cell_color_10:#26c5f3;

  --board_outer_colors: #ffffff;
}

:root:has(option[id="theme_coffee"]:checked) {
  --color_text: #3b2217;
  --color_bg: #e2bea7;
  --color_nav: #ca9981;
  --color_input: #a4785b;
  --color_input_text: var(--color_text);
  --color_nav_text: var(--color_text);
  --color_border: #91725e;
  --invert_logo: 0%;
  --invert_board_icons: 0%;
  --timer_victory_color: #61e82c;

  --cell_color_1: #e6dba3;
  --cell_color_2: #d1be80;
  --cell_color_3: #c5ac62;
  --cell_color_4: #bd964c;
  --cell_color_5: #c08036;
  --cell_color_6: #b66a24;
  --cell_color_7: #995c2a;
  --cell_color_8: #874424;
  --cell_color_9: #7a331d;
  --cell_color_10:#621f17;

  --board_outer_colors: var(--color_text);
}

:root:has(option[id="theme_slime"]:checked) {
  --dark_color1: #ffffff;
  --dark_color2: #1c1c31;
  --dark_color3: #131224;
  --dark_color4: #232141;
  --dark_color5: #6566b5;
  --dark_border: #312f54;
  --dark_nav_text: #ffffff;
  --dark_invert_logo: 100%;
  --dark_invert_board_icons: 100%;
  --dark_timer_victory_color: #61e82c;

  --cell_color_1: rgb(4, 69, 94);
  --cell_color_2: rgb(5, 92, 119);
  --cell_color_3: rgb(3, 132, 132);
  --cell_color_4: rgb(2, 147, 125);
  --cell_color_5: rgb(2, 162, 87);
  --cell_color_6: rgb(51, 178, 1);
  --cell_color_7: rgb(110, 193, 1);
  --cell_color_8: rgb(149, 214, 51);
  --cell_color_9: rgb(170, 203, 72);
  --cell_color_10: rgb(186, 223, 102);

  --board_outer_colors: var(--color_text);
}