.page_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


body {
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;
    background-color: var(--color_bg);
    color: var(--color_text);
}

.nav_wrap {
    position: fixed;
    top : 0;
    height: 50px;
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: space-between
}

.nav_bar {
    background-color: var(--color_nav);
    color: var(--color_nav_text);
    border-bottom: 2px solid var(--color_border);
}

nav {
    width: 100%;
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.logo {
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.logo img {
    width: 40px;
    height: 40px;
    filter: invert(var(--invert_logo));
    -webkit-filter: invert(var(--invert_logo));
    position: absolute;
    top: 0;
}

.right_nav_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.sound_icon img {
    margin-top: 3px;
    width: 34px;
    filter: invert(var(--invert_logo));
    -webkit-filter: invert(var(--invert_logo));
    cursor: pointer;
}

.volume_off{
    opacity: 30%;
}

.game_wrapper{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.game_sides, .game_center{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.game_sides{
    height: 580px;
    padding: 0 60px 0 60px;
}

.game_sides_panels{
    width: 80%;
    height: 100%;
    padding: 20px;
    background-color: var(--color_nav);
    border-radius: 20px;
    border: 2px solid var(--color_border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.game_sides_inner_wrapper{
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr.divider {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 100%;
}

.game_selectors_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

select, input, button, .game_selectors {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color_input);
    color: var(--color_input_text);
    border: 1px solid #00000000;
}

button, .game_selectors{
    height: 50px;
}

button, .game_selectors, input{
    width: 220px;
}

.game_selectors_wrapper button, .game_selectors_wrapper.game_selectors, .game_selectors_wrapper.input{
    width: 140px;
    height: 60px;
    font-size: medium;
}

button, .game_selectors, input{
    font-size: large;
}

input[type="number"] {
    text-align: center;
    width: 210px;
    height: 2em;
}

.game_selectors {
    text-align: center;
    min-width: 120px;
}

input {
    background-color: var(--color_input);
    color: var(--color_input_text);
    border: 1px solid var(--color_nav);
}

input[type="submit"] {
    background-color: var(--color_nav);
    color: var(--color_text);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--color_input);
    color: var(--color_nav);
}

input:hover, button:hover, .game_selectors:hover {
    border: 1px solid var(--color_input_text);
}

input:active, button:active, .game_selectors:active {
    border: 1px solid var(--color_bg);
}

input.disabled, button.disabled, .game_selectors.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button.switch_marker{
  cursor: pointer;
  height: 60px;
  width: 60px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex
}

.switch_marker_image.flag{
    filter: invert(var(--invert_logo));
    height: 40px;
    width: 40px;
}

.switch_marker_image.cross{
    filter: invert(var(--invert_logo));
    height: 50px;
    width: 50px;
}

.theme_selector {
    background-color: var(--color_bg);
    color: var(--color_input_text);
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color_text);
}

a {
    color: var(--color_nav_text);
    text-decoration: none;
}

.timer {
    text-align: center;
    filter: contrast(80%);
}

.timer h1 {
  font-family: monospace;
}

:root:has(option[id="theme_newspaper"]:checked) .board_wrapper{
  filter: grayscale(1) contrast(120%) brightness(0.8);
  -webkit-filter: grayscale(1) contrast(120%) brightness(0.8);

}


body, nav, input, select, button, 
a, h1, h2, h3, h4, h5, h6, option, 
.nav_wrap, .board, td, table, .board_wrapper, 
.game_selectors_wrapper, .queen_piece, .board, .board_icons,
.board td[class*="cell_color_"]
{
  -webkit-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  -moz-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.icon {
  fill: black;
}

@media (prefers-color-scheme: dark) {
  icon {
    fill: white;
  }
}